.App {
  font-family: "Poppins", sans-serif;
}

.App-header {
  margin: 20px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-h1 {
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 20px 0;
}
