.wordName {
  font-size: 40px;
  text-transform: capitalize;
}
.phonetic {
  font-size: 30px;
  color: rgb(231, 53, 83);
}

.nameSection {
  border-radius: 30px;
  background: rgb(190, 246, 227);
  border-color: black;
  border-width: 5px;
  margin: 40px 0;
  padding: 20px;
}

.partOfSpeech {
  border-radius: 30px;
  background: rgb(190, 246, 227);
  border-color: black;
  border-width: 5px;
  margin: 40px 0;
  padding: 20px;
}

.section2 {
  border-radius: 30px;
  background: rgb(190, 246, 227);
  border-color: black;
  border-width: 5px;
  margin: 40px 0;
  padding: 20px;
}
